@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap");

html {
  background: #36393f;
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 12px;
}

.content {
  max-width: 800px;
}

.title-avatar {
  border-radius: 40px;
  height: 80px;
  margin-top: 100px;
  object-fit: cover;
  width: 80px;
}

.title {
  font-size: 32px;
  line-height: 40px;
  margin: 12px 0;
}

.description {
  border-bottom: thin solid rgba(79, 84, 92, 0.48);
  color: #b9bbbe;
  padding-bottom: 16px;
}

.message-wrapper {
  color: #dcddde;
  display: flex;
  margin: 12px 0;
}

.avatar {
  border-radius: 40px;
  flex-shrink: 0;
  height: 40px;
  object-fit: cover;
  width: 40px;
}

.message {
  padding: 0 12px;
}

.name {
  color: #ffffff;
  font-weight: 500;
}

.text {
  padding-bottom: 6px;
}

a {
  color: #00aff4;
  cursor: pointer;
  text-decoration: none;
  word-break: break-all;
}

a:hover {
  text-decoration: underline;
}

.emphasis {
  color: #ffffff;
  font-weight: 500;
}

.code {
  background: #2f3136;
  font-family: monospace;
  font-size: 14px;
  padding: 1px 4px;
}
